{% load static %}
<!doctype html>
<html lang="uk" data-bs-theme='{{ current_theme }}'>

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css">
  <title>
    Variables Restaurant
  </title>

</head>

<body>
  <header>
    <nav class='navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4'>
            <!-- col-n here affects div-1 -->
      <div class="container-md col-7"> <!-- div-2 -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class='nav-item'>
            <a class="navbar-brand" href="/">Variables Restaurant</a>
          </li>
        </ul>
      </div>


      <!-- col-n here affects div-2 -->
      <div class='container-md col-3'> <!-- div-1 -->

        {% if user.is_authenticated %}

          <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
              <li class="nav-item dropdown">
                <a class='nav-link dropdown-toggle' role='button' data-bs-toggle='dropdown' area-expanded='false'>
                    Cart Menu
                </a>

          
              <!-- Dropmenu for the cart menu -->
                <ul class='dropdown-menu'>
                  <li><a class='dropdown-item' href='{% url "cart:cart_detail" %}'>View Cart</a></li>
                  <li><a class='dropdown-item' href='/'>Delete a Cart</a></li>
                </ul>
              </li>

              <!-- Осторожно! Инвалид!! -->
              <li><form method="post" action="{% url 'account:logout' %}">
                {% csrf_token %}
                <button type="submit" class='nav-link'>Logout</button>
              </form></li>
            </ul>
          </div>

        {% else %}
        
          <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
              {% if request.resolver_match.url_name == 'register' or request.resolver_match.url_name == 'login' %}
                <li class="nav-item">
                  <a class='nav-link disabled'>Register</a>
                </li>
                <li class="nav-item">
                  <a class='nav-link disabled' href='login/'>Login</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class='nav-link' href='register/'>Register</a>
                </li>
                <li class="nav-item">
                  <a class='nav-link' href='login/'>Login</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a href="{% url 'account:toggle_theme' %}" class="nav-link" target="_blank">
                  {% if current_theme == 'dark' %}
                    <i class="fi fi-rs-sun align-middle"></i>
                  {% else %}
                    <i class="fi fi-rs-moon-stars align-middle"></i>
                  {% endif %}
                </a>
              </li>
            </ul>
          </div>
        {% endif %}
      </div>
    </nav>
  </header>

  <main>
    <div class='container py-3'>
      {% block content %}{% endblock %}
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>